.container-one{
    width:200px;
    height:200px;
    background-color: red;
    border:2px solid black;
    margin:5px;
    padding:10px;
    text-align: center;
    /* text-align: left; */
}

.container{
    display: flex;
}


.container-two{
    width:200px;
    height:200px;
    background-color: green;
    border:2px solid black;
    margin:5px;
    padding:10px;
    text-align: center;
    /* text-align: left; */
}

.container-three{
    width:200px;
    height:200px;
    background-color: pink;
    border:2px solid black;
    margin:5px;
    padding:10px;
    text-align: center;
    /* text-align: left; */
}